services:
  rosmaster:
    image: ros:noetic-ros-core
    command: roscore
    restart: unless-stopped
    network_mode: host
  base_ros_service:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - rosmaster
    network_mode: host
    profiles: [_]
    environment:
      - ROS_IP
    restart: unless-stopped
  scanner:
    extends: base_ros_service
    command: roslaunch --wait rplidar_ros rplidar_a2m12.launch
    profiles: [matchplay]
    devices:
      - /dev/ttyUSB0 # dont forget to make sure this has proper permissions
  camera:
    extends: base_ros_service
    command: roslaunch --wait dalek_apriltag publish_arducam.launch rectify:=true
    profiles: [matchplay, vision]
    devices:
      - /dev/video0:${APRILTAG_CAMERA:-/dev/video0}
    environment:
      - CAMERA_CALIBRATION_FILE
      - CAMERA_SETTINGS_FILE
    volumes:
      - ${CONFIG_DIR:-/home/orangepi/dalek_laser_configs}/camera:/ros_ws/src/dalek_apriltag/config/custom/
  filter:
    extends: base_ros_service
    command: roslaunch --wait scan_filter filter.launch
    profiles: [slam]
  slam:
    extends: base_ros_service
    command: roslaunch --wait dalek_mapping slam.launch
    profiles: [slam]
    depends_on:
      - filter
  save_map:
    extends: base_ros_service
    command: rosrun map_server map_saver -f /maps/${MAP_FILENAME:-map}
    volumes:
      - maps:/maps
    restart: never
    depends_on:
      - slam
  apriltag:
    extends: base_ros_service
    command: roslaunch --wait dalek_apriltag apriltag_detector.launch no_uncertainty:=false
    profiles: [matchplay, vision]
    environment:
      - CAMERA_TRANSFORM
      - FIELD_LAYOUT_FILE
      - ESTIMATOR_PARAMS_FILE
    volumes:
      - ${CONFIG_DIR:-/home/orangepi/dalek_laser_configs}/apriltag:/ros_ws/src/dalek_apriltag/config/custom/
  pose_fusion:
    extends: base_ros_service
    command: roslaunch --wait pose_fusion localize.launch
    profiles: [matchplay]
  nt_bridge:
    extends: base_ros_service
    command: roslaunch --wait frc_basics ros_bridge.launch hostname:=nt.server
    profiles: [matchplay, sim]
    extra_hosts:
      - "nt.server:${NT_SERVER:-host-gateway}"
    restart: unless-stopped
  bagger:
    extends: base_ros_service
    command: roslaunch --wait bag_manager auto_bagger.launch record_camera:=false
    profiles: [matchplay]
    volumes:
      - bags:/bags
  web_dashboard:
    extends: base_ros_service
    command: roslaunch --wait rosboard rosboard.launch port:=5803
    profiles: [matchplay]
  sim:
    extends: base_ros_service
    command: roslaunch --wait frc_sim_gazebo frc_sim.launch
    profiles: [sim]
    environment:
      DISPLAY: ${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
  photonvision:
    build:
      context: photonvision
      dockerfile: Dockerfile
    profiles: [photonvision]
    extra_hosts:
      - "nt.server:${NT_SERVER:-host-gateway}"
    ports:
      - 5800:5800
      - 1181-1190
    devices:
      - ${CAMERA_0:-/dev/null}
    volumes:
      - photonvision_config:/opt/photonvision/photonvision_config
    restart: unless-stopped
  portainer:  # Web UI managing containers
    image: portainer/portainer-ce:2.20.3
    ports:
      - 5801:9443
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
  filebrowser: # Web UI for downloading/uploading files
    image: filebrowser/filebrowser
    profiles: [matchplay]
    ports:
      - 5802:80
    volumes:
      - bags:/srv/bags
      - maps:/srv/maps
    restart: always
volumes:
  data:
  bags:
    driver: local
    driver_opts:
      type: ${BAG_DRIVE_FS_TYPE:-vfat}
      device: ${BAG_DRIVE:-/dev/sda1}
  maps:
  photonvision_config:
networks:
  ros:
    driver: bridge
