<?xml version="1.0"?>
<launch>
  <arg name="namespace"       default="frc/drivetrain"/>
  <arg name="parameter_path"  default="$(find frc_basics)/config"/>

  <arg name="nt_table"          default=""            doc="Path to network table containing drivetrain values" />
  <arg name="team_number"       default=""            doc="Team number, used to find server if hostname is not provided" />
  <arg name="hostname"          default=""            doc="hostname of nt server" />
  <arg name="port"              default=""            doc="sets the communication port, 0 tells it to use default port" />

  <node ns="$(arg namespace)" pkg="frc_basics" type="drivetrain_interface" name="drivetrain_node" output="screen">
    <rosparam command="load" file="$(arg parameter_path)/drivetrain_interface_params.yaml" />
    <param name="nt_table"          value="$(arg nt_table)" if="$(eval arg('nt_table') != '')" />
    <param name="team_number"       value="$(arg team_number)" if="$(eval arg('team_number') != '')"/>
    <param name="hostname"          value="$(arg hostname)" if="$(eval arg('hostname') != '')"/>
    <param name="port"              value="$(arg port)" if="$(eval arg('port') != '')"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser"
        args="0.3048 -0.3048 0.18 2.70 0 0 base_footprint laser 100"
        respawn="true">
   </node>

</launch>