<?xml version="1.0"?>

<model>
  <name>FRC 2025 REEFSCAPE Full Field</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Eric Ward</name>
    <email>ezeward4@gmail.com</email>
  </author>

  <description>
    Model of the 2025 FRC Game REEFSCAPE imported from the provided CAD from FIRST
  </description>

</model>
