<?xml version="1.0"?>
<launch>
    <arg name="odom_topic" value="frc/drivetrain/nt2ros/odom"/>
    <arg name="apriltag_pose_topic" value="apriltag/pose"/>
    <node pkg="robot_localization" type="ekf_localization_node"
        name="pose_fuser" clear_params="true">
        <param name="frequency" value="10." />
        <param name="sensor_timeout" value="0.2"/>
        <param name="two_d_mode" value="true"/>
        <param name="publish_tf" value="true"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_footprint"/>
        <param name="world_frame" value="map"/>

        <!-- odometry from the roborio gives speed -->
        <param name="odom0" value="$(arg odom_topic)"/>
        <rosparam param="odom0_config">
          [false, false, false, false, false, false,
           true, true, false, false, false, true,
           false, false, false]</rosparam>

        <!-- poses from apriltags -->
        <param name="pose0" value="$(arg apriltag_pose_topic)"/>
	<param name="pose0_pose_rejection_threshold" value="2"/>
        <rosparam param="pose0_config">
          [true, true, false, false, false, true,
          false, false, false, false, false, false,
          false, false, false]</rosparam>

        <!-- impact how the covariance grows when we cant see any tags -->
        <param name="dynamic_process_noise_covariance" value="true" />
        <rosparam param="process_noise_covariance">
            [0.0005, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0.0005, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0.0, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0.0, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0.0, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0.0006, 0,     0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0.025, 0,     0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0.025, 0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0.0, 0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0.0, 0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.0, 0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.02, 0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
            0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.0]
        </rosparam>

        <!-- When robot boots it has no clue where it starts so any apriltag pose is good -->
        <rosparam param="initial_estimate_covariance">
            [1e2, 0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    1e2, 0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0, 0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0, 0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    1e2, 0,    0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0.1, 0,    0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0.1, 0,    0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0, 0,     0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  0,     0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,  0,     0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0.1,  0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0, 0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0, 0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0]
        </rosparam>
    </node>
</launch>
