<launch>
    <arg name="bag_dir" default="/bags" />
    <arg name="bag_file_str" />

    <param name="use_sim_time" value="true"/>

    <node pkg="rosbag" type="play" name="bag_playback"
        args="--clock -l $(arg bag_dir)/$(arg bag_file_str)"
        required="true"
        output="screen">
    </node>
</launch>